In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/bc/2a/61a8f9719bd6df5b421abd91740cb0595fc3c17b28eaf89fe4f144472ca6/psycopg2-2.7.6.1-cp36-cp36m-manylinux1_x86_64.whl (2.7MB)
    100% |████████████████████████████████| 2.7MB 5.7MB/s
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.6.1

In [29]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.sql import select

In [3]:
engine = create_engine('postgresql://guest@db:5432/shared')

/opt/conda/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [7]:
df = pd.read_sql_query('select * from data', con=engine)
df

    id label  score
0    1     A   0.50
1    2     A   0.60
2    3     A   0.70
3    4     A   0.80
4    5     A   0.90
5    6     A   1.00
6    7     B   0.55
7    8     B   0.65
8    9     B   0.75
9   10     B   0.85
10  11     B   0.95
11  12     B   1.05

In [8]:
insert_stmt = insert(engine).values(id='13',label='C', score=10)

ArgumentError: FROM expression expected

In [11]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata,
              Column('id', Integer, primary_key=True),
              Column('name', String),
              Column('fullname', String),
             )

In [18]:
metadata.create_all(engine)
ins = users.insert()
str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [19]:
ins = users.insert().values(name='jack', fullname='Jack Jones')

In [20]:
ins.compile().params

{'name': 'jack', 'fullname': 'Jack Jones'}

In [25]:
conn = engine.connect()
result = conn.execute(ins)

In [26]:
result

In [41]:
s = select([users])
result = conn.execute(s)

In [39]:
list(result)

[(1, 'jack', 'Jack Jones'), (2, 'jack', 'Jack Jones')]

In [34]:
result.close

In [35]:
s = select([data])
result = conn.execute(s)

NameError: name 'data' is not defined

In [43]:
for row in result:
    print(row)