In [1]:
!pip install psycopg2==2.7.6.1

Requirement already satisfied: psycopg2==2.7.6.1 in /opt/conda/lib/python3.6/site-packages (2.7.6.1)

In [2]:
import os

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.sql import select

In [3]:
user = 'shareduser'
passwd = os.environ['SHARED_PASSWORD']
engine = create_engine(f'postgresql://{user}:{passwd}@db:5432/shared')

/opt/conda/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
df = pd.read_sql_query('select * from data', con=engine)
df

    id label  score
0    1     A   0.50
1    2     A   0.60
2    3     A   0.70
3    4     A   0.80
4    5     A   0.90
5    6     A   1.00
6    7     B   0.55
7    8     B   0.65
8    9     B   0.75
9   10     B   0.85
10  11     B   0.95
11  12     B   1.05
12   1     A   0.50
13   2     A   0.60
14   3     A   0.70
15   4     A   0.80
16   5     A   0.90
17   6     A   1.00
18   7     B   0.55
19   8     B   0.65
20   9     B   0.75
21  10     B   0.85
22  11     B   0.95
23  12     B   1.05

In [5]:
df.to_sql('data', con=engine, if_exists='append', index=False)

In [6]:
df = pd.read_sql_query('select * from data', con=engine)
df

    id label  score
0    1     A   0.50
1    2     A   0.60
2    3     A   0.70
3    4     A   0.80
4    5     A   0.90
5    6     A   1.00
6    7     B   0.55
7    8     B   0.65
8    9     B   0.75
9   10     B   0.85
10  11     B   0.95
11  12     B   1.05
12   1     A   0.50
13   2     A   0.60
14   3     A   0.70
15   4     A   0.80
16   5     A   0.90
17   6     A   1.00
18   7     B   0.55
19   8     B   0.65
20   9     B   0.75
21  10     B   0.85
22  11     B   0.95
23  12     B   1.05